<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Document</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{>navbar}}
    
     <div class="container">
        <div class="row row-1">
          <h1>WE WILL HELP YOU TO</h1>
          <h1 style="color: rgb(51, 51, 179);">GROW YOUR BUSINESS</h1>
          <p>We are team of  <span>  Professional Developer</span></p>
          <button class="btn">Read more</button>
        </div>
        <!---->
        <div class="row row-2">
            <img class="image" src="images/photo1.jpg">
        </div>
     </div>
<!---about-->
    <div class="about-heading " id="aboutid">
        <h1 class="text-center">About Us</h1>
          <p class="text-center">grow your business with us</p>
        </div>
       <div class="container about-container">
        <div class="row row-2">
            <img class="image" src="images/photo2.jpg">
        </div>
    
        
        <!---->
         <div class="row row-1 rbout" style="justify-content :center; align-item:center;">
          <h1>WE ARE THE PROFESSIONAL DEVELOPER</h1>
          <p>Welcome to website , We're dedicated to give you the very best Work.<br>
             With a focus on [Three characteristics i.e Customer Service , Uniqueness and Dependability]</p>
          <button class="btn">Read more</button>
        </div>
     </div>

     <!--service-->

      <div class="about-heading" id="serviceid">
          <h1 class="text-center">Our Service</h1>
          <p class="text-center">grow your business with us</p>
      </div>    
           <div class="grid">
                <div class="grid-col blue"  style="border: solid  rgb(147, 147, 250);">
                    <h1  class="text-center">Setting</h1>
                    <p  class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor consectetur adipisicing elit.</p>
                </div>

                 <div class="grid-col pink"  style="border: solid rgb(196, 92, 151);">
                    <h1  class="text-center">Speedup</h1>
                    <p  class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor  consectetur adipisicing elit.</p>
                </div>

                 <div class="grid-col blu" style="border: solid rgb(80, 139, 138) ;">
                    <h1  class="text-center" >Privacy</h1>
                    <p  class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor  consectetur adipisicing elit.</p>
                </div>

                 <div class="grid-col yellow"  style="border: solid rgb(198, 185, 66);">
                    <h1  class="text-center">Backups</h1>
                    <p  class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor consectetur adipisicing elit.</p>
                </div>

                 <div class="grid-col violet" style="border: solid rgb(153, 82, 148);">
                    <h1  class="text-center" >SSL secured</h1>
                    <p  class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor  consectetur adipisicing elit.</p>
                </div>

                 <div class="grid-col green"  style="border: solid  rgb(47, 159, 92);">
                    <h1  class="text-center">Database</h1>
                    <p  class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor consectetur adipisicing elit.</p>
                </div>
           </div>
        
        <section>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d58320.87471386085!2d85.3301877510755!3d23.993846504651195!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f49c114f26548f%3A0xbd45e868bb61961f!2sHazaribagh%2C%20Jharkhand!5e0!3m2!1sen!2sin!4v1665131114448!5m2!1sen!2sin" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>

<!--->
<!--->
<div class="container-fluid mt-5 contact-style about-heading" id="contactid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">Contact us</h1>
            <p class="text-center sub-heading">we will be happy to help you</p>

            <div class="row">
                <div class="col-md-6 col-12 mx-auto">
                            <form action="/index" method="POST">
                               <div class="form-group">
                                  <label for="exampleInputEmail1" class="form-label">Name</label>
                                  <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Full Name" name="name">
                                </div>
                                <div class="form-group">
                                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                                  <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your email" name="email">
                                </div>
                                <div class="form-group">
                                   <label for="exampleInputPassword1" class="form-label">Phone</label>
                                   <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Phone Number" name="phone">
                                </div>
                                 <div class="form-group">
                                   <label for="exampleInputPassword1" class="form-label">Message</label>
                                   <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Message" name="message">
                                </div>
                                <button type="submit" class="btn btn-primary form-group">Submit</button>
                            </form>
                </div>
            </div>
        </div>
    </div>
</div>


   
</body>
</html>